.ToDoItem{
    width: 50%;
    margin: 2rem auto;
    background-color: aliceblue;
    color:black;
    text-align: left;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


.ToDoItem button{
    padding: 1rem 1.5rem;
    font-size: 1.9rem;
    margin-left: 0.2rem;
    border: none;
    background-color: aliceblue;
    outline: none;
    cursor: pointer;
}

.ToDoItem button:hover{
    background-color: cadetblue;
}

.ToDoItem button.active{
    background-color: cadetblue;    
  
}

.ToDoItem p{
    margin-left: 1rem;
}


.Completed{
   text-decoration: line-through;
}



@media (max-width:992px){
    .ToDoItem{
        width:80%;
    }
    
    .ToDoItem button{
    
        font-size: 1.6rem;
        
    }
}


@media (max-width:768px){
    .ToDoItem{
        padding: 1rem;
        font-size: 1.1rem;
        width: 70%;
    }
}

@media (max-width:576px){
    .ToDoItem{
        width:100%;
        margin: 1rem auto;
        font-size: 1rem;
    }
    
    .ToDoItem button{
        padding: 1rem 1.5rem;
        font-size: 1rem;
        
    }
}